ConnectionStrings__Default=Host=localhost;Database=rutacero;Username=rutacero;Password=change-me
Jwt__Key=replace-with-at-least-32-random-characters
Jwt__Issuer=RutaCero
Jwt__Audience=RutaCero.Web
Storage__Root=./storage/statements
